body {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    color: #353535;
    font-family: "Roboto", "NanumSquare", sans-serif;
    text-rendering: optimizeLegibility; /*ligature 활성화*/
    -webkit-font-smoothing: antialiased; /*????????*/
    overflow-x: hidden;
}

ul, li {
    margin: 0px;
    padding: 0px;
}

.intro_section1 {
    height: 100vh;
}

.intro_section1 .logo {
    position: absolute;
    top: 37px;
    left: 50px;
}

.intro_section1 .logo img {
    width: 90px;
}

.intro_section1 .site_title {
    position: absolute;
    bottom: 70px;
    left: 50px;
    font-weight: 800;
    font-size: 22px;
    letter-spacing: -.55px;
    z-index: 1;
}

.intro_section1 .main_title {
    font-size: 8vw;
    font-family: "Nanum Myeongjo";
    font-weight: 700;
    position: absolute;
    top: 50vh;
    left: 50vw;
    margin-top: -12vw;
    margin-left: -33vw;
}

.intro_section1 .sub_title {
    font-size: 1.2vw;
    font-weight: 500;
    position: absolute;
    top: 50vh;
    left: 50vw;
    margin-top: 10vw;
    margin-left: -13vw;
}

.intro_section1 .copyright {
    position: absolute;
    transform: rotate(90deg);
    top: 290px;
    right: -150px;
    font-size: 18px;
    letter-spacing: -0.5px;
    font-weight: 800;
}

.sns_section {
    position: fixed;
    bottom: 60px;
    right: 77px;
    font-size: 20px;
    z-index: 2;
}

.sns_section .sns_deco {
    display: inline-block;
    width: 110px;
    height: 3px;
    background-color: #353535;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 40px;
}

.sns_section ul {
    display: inline-block;
    list-style-type: none;
}

.intro_section2 {
    margin-top: -150px;
    padding: 0 120px;
    position: relative;
}

.intro_section2 img {
    width: 80%;
}

.intro_section2 .img_deco_copy {
    position: absolute;
    top: 65%;
    right: -10%;
    font-size: 8vw;
    font-weight: 800;
}

.intro_section3 {
    padding: 300px 130px 400px;
    overflow: hidden;
}
.intro_section3 .sub_title {
    font-size: 17px;
    font-weight: 800;
    text-transform: uppercase;
}
.intro_section3 .main_title {
    font-size: 28px;
    font-weight: 800;
}
.intro_section3 .section_desc {
    margin-top: 20px;
    font-size: 18px;
    color: #898989;
    line-height: 34px;
    font-weight: 400;
}
.intro_section3 .career_list_section {
    margin-top: 40px;
    font-weight: 800;
    font-size: 4.7vw;
    color: #D5D5D5;
    letter-spacing: 0;
    line-height: 7vw;
}

.intro_section4 {
    padding: 0px 100px 100px 200px;
}
.intro_section4 .main_title {
    font-weight: 800;
    font-size: 60px;
    letter-spacing: 0;
    line-height: 40px;
    color: transparent; /*배경색과 동일한 색으로 맞춘다*/
    -webkit-text-stroke: 1.5px #353535;
}
.intro_section4 .main_desc {
    font-weight: 400;
    position: relative; 
    margin-top: 85px;
    margin-left: 100px;
    font-size: 19px;
    color: #353535;
    line-height: 44px;
}

.intro_section5 {
    margin: 100px 0px;
}
.intro_section5 .main_section_tl {
    text-align: right;
    position: relative;
}
.intro_section5 .main_section_tl .img_section {
    width: 83vw;
    height: 900px;
    display: inline-block;
    overflow: hidden;
}
.intro_section5 .main_section_tl .img_block {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 50%;
    height: 40%;
    background-color: #fff;
}
.intro_section5 .main_section_tl .img_block .main_title {
    margin-top: 9vw;
    margin-right: 5vw;
    font-weight: 600;
    font-size: 20px;
    color: #353535;
    text-align: right;
    line-height: 40px;
}
.intro_section5 .main_section_tl .deco_title {
    position: absolute;
    font-weight: 800;
    top: 32vw;
    left: -5vw;
    font-size: 22vw;
    color: #494949;
    line-height: 0px;
    letter-spacing: 0vw;
}