body {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    color: #353535;
    font-family: "Roboto", "NanumSquare", sans-serif;
    text-rendering: optimizeLegibility; /*ligature 활성화*/
    -webkit-font-smoothing: antialiased; /*????????*/
    overflow-x: hidden;
}

ul, li {
    margin: 0px;
    padding: 0px;
}

.intro_section1 {
    height: 100vh;
}

.intro_section1 .logo {
    position: absolute;
    top: 37px;
    left: 50px;
}

.intro_section1 .logo img {
    width: 90px;
}

.intro_section1 .site_title {
    position: absolute;
    bottom: 70px;
    left: 50px;
    font-weight: 800;
    font-size: 22px;
    letter-spacing: -.55px;
    z-index: 1;
}

.intro_section1 .main_title {
    font-size: 8vw;
    font-family: "Nanum Myeongjo";
    font-weight: 700;
    position: absolute;
    top: 50vh;
    left: 50vw;
    margin-top: -12vw;
    margin-left: -33vw;
}

.intro_section1 .sub_title {
    font-size: 1.2vw;
    font-weight: 500;
    position: absolute;
    top: 50vh;
    left: 50vw;
    margin-top: 10vw;
    margin-left: -13vw;
}

.intro_section1 .copyright {
    position: absolute;
    transform: rotate(90deg);
    top: 290px;
    right: -150px;
    font-size: 18px;
    letter-spacing: -0.5px;
    font-weight: 800;
}

.sns_section {
    position: fixed;
    bottom: 60px;
    right: 77px;
    font-size: 20px;
    z-index: 2;
}

.sns_section .sns_deco {
    display: inline-block;
    width: 110px;
    height: 3px;
    background-color: #353535;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 40px;
}

.sns_section ul {
    display: inline-block;
    list-style-type: none;
}