body {
    font-weight: 400;
    font-size: 15px;
    font-family: 'Nanum Square', sans-serif;
    line-height: 1.8em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: #3c3c3c;
    margin: 0px;
    padding: 0px;
}
ul, li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
a {
    color: #3c3c3c;
    text-decoration: none;
}

.header {
    position: relative;
    width: 100%;
    height: 48px;
    padding-top: 25px;
    font-weight: 700;
    border-bottom: 1px solid #efefef;
}

.header .logo_section a {
    position: absolute;
    left: 30px;
    top: 21px;
    font-size: 24px;
    color: #f9e000;
}
.header .page_title {
    position: absolute;
    left: 200px;
    padding-left: 20px;
    border-left: 2px solid #ddd;
    line-height: 20px;
    margin-top: 3px;
    color: #b1b1b1;
}
.header .main_menu {
    position: absolute;
    right: 30px;
}
.header .main_menu ul li {
    display: inline-block;
    margin: 0px 15px;
    cursor: pointer;
}   
.header .main_menu ul li.login_menu {
    border-left: 1px solid #ddd;
    padding-left: 30px;
}

.filter_section {
    position: relative;
    height: 53px;
    display: flex;
    border-bottom: 1px solid #efefef;
    background-color: #ffffff;
}
.filter_section .filter_deco {
    width: 53px;
    height: 53px;
    display: flex;
    justify-content: center;
    border-right: 1px solid #efefef;
    padding-top: 16px;

}
.filter_section .filter_item {
    width: 110px;
    height: 53px;
    font-size: 14px;
    border-right: 1px solid #efefef;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.filter_section .filter_deco .material-icons {
    font-size: 20px;
}
.filter_section .filter_item .material-icons {
    padding-left: 2px;
}