@import "./global.css";

.find-search-bar-form {
    padding: 0 25px;
}

.find-search-bar-form div {
    width:100%;
}

.find-search-bar {
    margin-top: 50px;
    background-color: var(--darkpurple);
    border-radius: 25px;
    width:100%;
    padding:10px;
    color:white;
    transition: background-color 0.3s ease-in-out;
}

.find-search-bar:focus {
    background-color: #594374;
}

.find-search-bar-form span {
    position: absolute;
    font: 1rem;
    bottom: 0.50rem;
    right: 25px;
}

.recommended__top {
    padding: 0 20px;
    margin : 20px 0;
    display: flex;
    justify-content: center;
}

.recommended__top__movie {
    width: 22rem;
    height:12rem;
    border-radius: 25px;  
}

.recommended__top span {
    position: absolute;
    background-color: var(--purple);
    border-radius: 50%;
    left: calc(50% + 5rem);
    font-size: 5rem;
    bottom: -2.3rem;
}

.recommended__title {
    padding-left: 25px;
}

.recommended__text {
    font-size: 14px;      
}
.recommended__name {
    color:var(--purple);
    font-size: 40px;
    font-weight: 600;
}

.movie-recommendation {
    margin:25px 0;
    padding:0 25px;
}
.movie-recommendation__img {
    margin-top: 15px;
    list-style: none;
    display: flex;
    overflow-x: scroll;
}
.movie-recommendation__img li {
    margin-left: 5px;
}

.movie-recommendation__img img {
    width: 150px;
    border-radius: 15px;
}


.go_back {
    display: flex;
    justify-content: center;
}

button[id="logout"] {
    margin-top: 30px;
    margin-bottom: 10vh;
    padding:15px 120px;
    border: none;
    background-color: var(--darkpurple);
    border-radius: 20px;
    font-size: 12pt;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    color: white;
}
button[id="logout"]:active {
    background-color: var(--purple);
}